* {
    /* border: 2px solid red; */
}

ul {
    list-style-type: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
}

.contWrap {
    background-color: #1f2937;
    width: 1100px;
}

.hero {
    background-color: #1f2937;
    color: #e5e7eb;
}

.hero2 {
    font-size: 18px;
    color: #e5e7eb;
}

img {
    height: 150px;
    width: auto;
    border-radius: 10px;
    gap: 5px 5px 5px 5px;
}

.contWrap.intro_img {
    display: flex;
    /* padding: 20px 40px 20px 40px; */
    float: right;
}

.calltoaction {
    background-color: #3882f6;
    border-radius: 24px;
    padding: 20px 40px 20px 40px;
}

.flex-container {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 1100px;
}

.flex-container div {
    flex: 1;
    align-items: center;
}

.container .quotes {
    background-color: #e5e7eb;
}

.title2 {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;  
}

.descrip_text {
    color: #e5e7eb;
}

.navbar.logo {
    background: #1f2937;
    height: 60px;
}

.navbar a {
    text-decoration: none;
    color: #f9faf8;
}

.navbar a:hover {
    color: lightblue;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #1f2937;
}

.nav {
    font: #e5e7eb;
    font-size: 18px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}
